<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Edit Movie</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
<link rel="stylesheet" href="../css/bootstrap-grid.min.css">
<link rel="stylesheet" href="../css/bootstrap-reboot.min.css">

</head>
<body>
	<div class="container my-5">
		<h2 class="mb-5">Edit Movie</h2>
		<div class="row">
			<div class="col-md-6">
				<form action="#" th:action="@{/update/{id}(id=${movie.id})}"
					th:object="${movie}" method="post">
					<label for="title">Title</label> <input type="text"
						th:field="*{title}" id="title" placeholder="Title"> <span
						th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>

					<label for="genre">Genre</label> <input type="text"
						th:field="*{genre}" id="genre" placeholder="Genre"> <span
						th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></span>

					<label for="year">Year</label> <input type="text"
						th:field="*{year}" id="genre" placeholder="Year"> <span
						th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span> <label
						for="rating">Rating</label> <input type="text"
						th:field="*{rating}" id="rating" placeholder="Rating"> <span
						th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></span>

					<input type="submit" value="Update Movie">
				</form>
			</div>
		</div>
		<script src="../js/jquery-3.2.1.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/bootstrap.bundle.js"></script>
		<script src="../js/bootstrap.js"></script>
	</div>
</body>
</html>